body {
  background-color: orange;
  color: black;
  background-image: url("images/jic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

h3{
  color: lightseagreen;
  text-decoration: underline;
  font-family: 'Marck Script', cursive;
  font-size: 60px; 
}
p{
  font-style: italic;    
}

.main-right{
  padding: 50px;
  border: none;
  background: lightseagreen ;
  border-top-left-radius: 30% 50%;
  border-bottom-left-radius: 15% 5;
  border-top-right-radius: 30% 50%;
}

ul{
  list-style: none;
}

.dob{border: none;
  width: 300px;
  border-bottom: 2px solid lightblue;
  margin-right: 10px;
}

.test{
  margin: 5px;
}

.button{
  font-weight: 500;
  margin: 0px 40px;
  border-radius: 20px;
  margin: 0px 5px;
  border: none;
  padding: 5px 8px;
  background: transparent;
}

.button{
  background: #ff5722;
}

@keyframes mover{
  0%{
      transform: translateX(0);
  }
  100%{
      transform: translateX(-20px);
  }
}